@font-face {
    font-family: "SharpSans-Bold";
    src: url(../finalProject/font/SharpSansDispNo1-Bold.ttf);
}

@font-face {
    font-family: "SharpSans-Medium";
    src: url(../finalProject/font/SharpSansDispNo1-Medium.ttf);
}

@font-face {
    font-family: "Basteleur-Moonlight";
    src: url(../finalProject/font/SharpSansDispNo1-Medium.ttf);
}

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F1EDE1;
    overflow: hidden;
}

.loader-div {
    position: relative;
    opacity: 1;
    transition: opacity 1s ease; 
    top: 0;
    width: 100%;
    height: 100%;
    background: #101010;
    z-index: 1000;
    visibility: visible;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out 0.5s; 
}

.loader-container {
    filter: invert(1);
    opacity: 1;
    transition: opacity 1s ease; 
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    z-index: 1001;
}

#loader{
    width: 850px;
}

.filters{
    opacity: 0;
    transition: opacity 1s ease; 
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    z-index: 1001;
    gap: 16px;
}

.filter{
    background-color: transparent;
    border: none;
    font-family: "SharpSans-Medium", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    padding: 18px;
    color: #101010;
    cursor: pointer;
}

.active {
    color: #F1EDE1;
    background-color: #101010;
}

/*.button-value:hover{
    color: #F1EDE1;
    background-color: #101010;
}*/

.logo-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: auto;
    max-width: auto;
}

#logo {
    display: flex;
    position: absolute;
    width: 850px;
    transition: transform 1s ease-out;
    height: auto;
}


.vslider {
    display: flex;
    position: absolute;
    overflow-y: auto;
    right: 10%;
    justify-content: space-between;
    width: 456px;
    height: 100%;
    overscroll-behavior-y: none;
}

.vslider::-webkit-scrollbar {
    display: none;
}

.slider {
    display: flex;
    position: absolute;
    flex-direction: column;
    gap: 8px;
    top: 0;
    left: 0;
    width: 100%;
}

.slider-item {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

.cover {
    display: flex;
    position: relative;
    top: 2.5%;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}


/*select {
    font-family: "Basteleur-Moonlight", sans-serif;
    font-size: 16px;
    padding: 16px;
    background-color: #F1EDE1;
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    color: #1c1c1c;
    font-size: 16 px;
    margin: 24px;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
}

button {
    background-color: #1c1c1c;
    color: #FFFDE9;
    font-family: "Basteleur-Moonlight", sans-serif;
    padding: 16px;
}

.hero-container {
    position: absolute;
    width: 100%;
    height: 80vmin;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 24px;
}


.title, .site-name { 
    font-family: "SharpSans-Bold", serif;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    margin: 24px;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #1c1c1c;

}*/